body {
  background-image: linear-gradient(white, pink);
}

.textHeader {
  text-align: center;
}

.name {
  font-size: 2em;
  margin: 1em;
}

.description {
  font-size: 20px;
}

.gostos {
  font-size: 2em;
  margin: 1em;
}

.naogostos {
  font-size: 2em;
  margin: 1em;
}

.inf {
  font-size: 2em;
  margin: 1em;
}
